<% flash.each do |type, msg| %>
	<div class="alert alert-<%= bootstrap_flash_for(type) %>">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<p><%= msg %></p>
	</div>
<% end %>